@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
body {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    background-color: #f0efe25e;
    height: 15vh;
}

.logo {
    display: flex;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.main {
    display: grid;
    height: 80vh;
    background-color: #e0e0d5a3;
    grid-template: .5fr 1.5fr .5fr 1.5fr .5fr / .5fr 1fr 1fr 1fr .5fr;
}
.btnCont {
    grid-column: 3;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top:5%;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%;
    animation:slide-bottom 0.2s linear both}@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(30px)}
  }


  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: -15px;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.new {
    width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 4px;
    border: 2px solid #212529;
    background: #212529;
    font-size: 16px;
  }
.new:hover {
    background: #e0e0d5;
    color: #212529
}
.add {
    width: 100px;
    height: 35px;
    font-size: 14px;
    margin: 10px;
}

.add:hover {
    background: white;
}

input{
    height: 7%;
    width: 70%;
    text-align: center;
    font-size: 16px;
}
label {
    font-weight: 500;
    text-decoration: underline;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
}

.read {
    margin: 2px;
}

.content {
  display: grid;
  grid-area: 2 / 2 / 5 / 5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
.card {
  display: grid;
  grid-template: repeat(5, 1fr)/ .1fr 1fr 1fr;
  height:17rem;
  border-radius: 4px;
  border-radius: 18px;
  background: #f1f0e9;
  box-shadow:  7px 7px 4px #adaca3,
             -7px -7px 4px #ffffff;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
.card>h3 {
  grid-column: 2/3;
  text-decoration: underline;
  font-weight: normal;
  margin: 5px;
  padding-left: 10px;
}
.card>p {
  margin: 7px;
}
.card>.remCont {
  grid-column: 2;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch {
  margin-bottom: 15px;
  margin-left: 7px;
}
.error {
  display: hidden;
  color: RED;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #212529;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #212529;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #cdcdc8;
    height: 5vh;
}

.copyright {
    display: flex;
    grid-column: 2;
    justify-content: center;
    align-items: center;
}